<div class="newsArticle">
  <div class="title"> Test
    <span>
      <button id="saveArticle" class="btn btn-secondary">Save Article</button>
    </span>
  </div>
  <div class="link">Test2</div>
</div>