<header class="row no-gutters">
    <div class="col 3 text-center">
      <h2>Mongo Scraper</h2>
    </div>

    <div class="col 6 text-center">
      <button class="btn btn-success" id="scrape">Scrape New Articles</button>
      <button class="btn btn-danger" id="clear">Clear Articles</button>
    </div>

    <div class="col 3 text-right">
      <span>
        <a href="/">Home</a>
        <br>
        <a href="/saved">Saved Articles</a>
      </span>
    </div>
</header>

<script>
$(document).ready(function() {
  $("#scrape").on("click", function(event){
    event.preventDefault()
    $.ajax({
      type: "GET",
      url: "/scrape"
    }).then(response => {
      if(response) {
        console.log("Scrape Complete")
        setTimeout(function(){ 
          $(document.location).attr('href', '/')
        }, 4000);
        alert("Articles are scraping. Please wait...")

      }
    })
  })

  $("#clear").on("click", function(event){
    event.preventDefault()
    $.ajax({
      type: "DELETE",
      url: "/scrape"
    }).then(response => {
      if(response) {
        console.log("Articles Deleted")
        $(document.location).attr('href', '/')
      }
    })
  })
})
</script>