{{> header}}
<div class="row no-gutters" id="logo-view">
  <div class="container text-center">
    <h1>New York Times Mongo Scraper</h1>
  </div>
</div>

<div class="row no-gutters" id="article-view">
    <div class="row no-gutters">
      <div class="col">Test</div>
    </div>
</div>
{{> footer}}